<!-- Modal -->
<div class="modal fade"  id="attachments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Attachments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% unless attachments.blank? %>
        <div class="modal-body">
          <%= render "attachments/attachments" %>
        </div>
      <% else %>
        <p class="alert alert-danger center"> No data Funded </p>  
      <% end %>
    </div>
  </div>
</div>
