<table class="table table-hover">
  <thead>
    <tr>
      <th>No #</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    <% @project.attachments.each do |attachment| %>
      <tr>
        <td> <%= attachment.id %> </td>
        <td> <%= link_to attachment.attachment_file.identifier, attachment.attachment_file.url(), class: "btn btn-dark" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
