<% if user_session.nil? %>
	<%= render "shared/home" %>
<% else %>
	<div class="container">
    <p class="display-4"> welcome, <%= current_user.type_of %> </p>
    <h4>Milestone #3 here..</h4> 
  </div>
<% end %>
