<div class="container p-3">
  <h4>Assign Members to Project # <%= @project.id %> </h4>
  <div class="border rounded m-2 p-3">
    <strong>Users</strong>
    <%= form_for(:activeproject) do |form| %>
        <div>
          <%= form.collection_check_boxes :members, User.where(type_of: "employee"), :id, :full_name,  class: "form-control"%>
        </div>
        <div>
          <%= form.submit "Add Memebrs", class: "btn btn-dark" %>
        </div>
    <% end %>
  </div>
</div>
